<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="hostsFile" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="hostsFile" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="hostsFile" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="hostsFile" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>How to Edit your Hosts File</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="bower_components/skeleton/css/normalize.css">
    <link rel="stylesheet" href="bower_components/skeleton/css/skeleton.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
    <div class="container">
        <section class="header">
            <h2 class="title">How to Edit Your Hosts File</h2>
        </section>
        <div class="content" ng-controller="hostsFileViewerCtrl as hosts" class="hosts">
            <div class="navbar-spacer"></div>
            
             <div class="navbar-spacer"></div>
            <nav class="navbar">
              <div class="container">
                <ul class="navbar-list">
                  <li class="navbar-item"><a class="navbar-link" ng-click="setBrowser()">Pick for me</a></li>
                  <li class="navbar-item"><a class="navbar-link" ng-click="setBrowser('windows')">PC</a></li>
                  <li class="navbar-item"><a class="navbar-link" ng-click="setBrowser('mac')">Mac</a></li>
                  <li class="navbar-item"><a class="navbar-link" ng-click="setBrowser('other')">Other</a></li>
                </ul>
              </div>
            </nav>
            <div ng-include="hosts.getPartialUrl()" class="tutorial"></div>
        </div> 
        <!--<div class="footer">
            <h6>Made with love by @jchapa and @brstorrie</h6>
        </div>-->
    </div>
    
    <script src="bower_components/angular/angular.js"></script>
    <script src="app/app.js"></script>
    <script src="app/components/hostsFileViewer/hostsFileViewerController.js"></script>
    <script src="bower_components/angular-bowser/src/angular-bowser.js"></script>
</body>
</html>